# M5 Forecasting - Accuracy

This notebook is about the Kaggle competition [M5 Forecasting - Accuracy](https://www.kaggle.com/c/m5-forecasting-accuracy) which is about forcasting Walmart sales. Detailed information about this competition can be found in the [M5 Participants Guide](https://mofc.unic.ac.cy/m5-competition/).

I want to clarify upfront, that my scope for working on this competition is quite limited - I will primarily use the competition and its dataset to revisit time series forecasting, which is an area I have not had the opportunity to work in much recently. In particular, I will skip exploratory data analysis and jump into model training almost using the sales time series data only straight away. I am planning to experiment with solution approaches involving [Holt-Winterâ€™s Seasonal Exponential Smoothing](https://otexts.com/fpp2/holt-winters.html) (also known as *Triple Exponential Smoothing*), which is a rather simple but effective method for time series forecasting. 

Without going into further details, the competition uses a Weighted Root Mean Squared Scaled Error (WRMSSE) metric for rating the forecasting submissions, i.e. the submission ratings are always positives and the closer to zero the better. At the time of creating this notebook (end of May 2020), the leaderboard's top 10 has achieved scores below 0.45. I am curious to see what I can achieve with relatively low effort and rather simple solution approaches.

In [1]:
import pickle
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')
from tqdm import tqdm_notebook as tqdm

## Import data

In [2]:
# import sales data
sales = pd.read_csv('data/sales_train_validation.csv')
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 446.4+ MB

The sales data comes with one column for every day, which is not a nice format for data analysis. Transforming the data into a clean long format will be more convenient. But before doing so, I will remove the redundant columns *dept_id*, *cat_id*, *store_id* and *state_id*. In case I will need them later (which I don't expect), I will extract them into a separate DataFrame, as retrieving them that way will be more comfortable than reconstructing them individually from the *id* column.

In [3]:
# extract and remove redundant columns
sales_meta = sales[['id', 'item_id', 'dept_id', 
                    'cat_id', 'store_id', 'state_id']]
sales = sales.drop(columns=['dept_id', 'cat_id', 'store_id', 'state_id'])

# Transforming sales data into long format
day_columns = ['d_' + str(i) for i in range(1, 1914)]
sales = sales.melt(id_vars=['id', 'item_id'],
                  value_vars=day_columns)
sales.head()

                              id        item_id variable  value
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001      d_1      0
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002      d_1      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003      d_1      0
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004      d_1      0
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005      d_1      0

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   id        object
 1   item_id   object
 2   variable  object
 3   value     int64
dtypes: int64(1), object(3)
memory usage: 1.7+ GB

Even though I will not need them for the scope of my basic forecasting approaches, I will also import and show the other two files included in the dataset:

In [5]:
# import dates data
dates = pd.read_csv('data/calendar.csv')
dates.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [6]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [7]:
# import prices data
prices = pd.read_csv('data/sell_prices.csv')
prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

## Seasonal Exponential Smoothing models

As explained at the beginning of the notebook, I will experiment with solution approaches involving Holt-Winterâ€™s Seasonal Exponential Smoothing. In particular, I will pursue and compare the following approaches:

* Fit one model each (3049 models) to the sales per day and item in the first Walmart store in the dataset (CA_1) and repeat the results for the other stores
* Fit one model each (3049 models) to the mean sales per day per item_id and use these predictions for all stores
* Enhance the previous approach by adjusting (scaling) the predictions for each ID by the mean sales in the last 70 days
* Fit one model each (30490 models) to the sales per day for each individual ID (3049 items * 10 stores)

For every model, I will use 7 as seasonal period, corresponding to the different days of the week. Also, I will limit the training data used to the last 70 days to save a vast amount of runtime.

In [8]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)

id_list = sales.id.unique()
# Additional evaluation IDs required for submission file
id_list_eval = np.array([s.replace('validation', 'evaluation') for s in id_list])
print('Number of IDs:', len(id_list))

Number of IDs: 30490

In [9]:
def save_submission(results, prefix, repeat_for_eval=True):
    """ Helper function to write submissions to a proper CSV submission file. 
    The function supports both dictionaries and lists as results input:
    - Dictionaries must contain one prediction for each ID from id_list.
      For repeat_for_eval=False, it must also include one prediction for 
      each ID from id_list_eval. 
    - Lists will simply be repeated for each ID of id_list + id_list_eval. 
      This matches the desired behaviour for predicting per item_id.
    """
    if not (isinstance(results, dict) or isinstance(results, list)):
        print('Unsupported results type:', type(results))
        return None
    
    with open(prefix + '_submission.csv', 'w+') as fout:
        # write header
        fout.write('id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,'
                   'F11,F12,F13,F14,F15,F16,F17,F18,F19,'
                   'F20,F21,F22,F23,F24,F25,F26,F27,F28\n')
        if isinstance(results, dict):
            if repeat_for_eval:
                for id in id_list:
                    fout.write(id + ',' + ','.join(map(str, results[id])) + '\n')
                for n, id in enumerate(id_list_eval):
                    fout.write(id + ',' + ','.join(map(str, results[id_list[n]])) + '\n')
            else:
                for id in np.concatenate([id_list, id_list_eval]):
                    fout.write(id + ',' + ','.join(map(str, results[id])) + '\n')
        if isinstance(results, list):
            for n, id in enumerate(np.concatenate([id_list, id_list_eval])):
                fout.write(id + ',' + ','.join(map(str, results[n % len(results)])) + '\n')

In [16]:
# Preparing reduced dataset
last_70_days = ['d_' + str(i) for i in range(1844, 1914)]
sales_70d = sales[sales.variable.isin(last_70_days)].reset_index(drop=True)
sales_70d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2134300 entries, 0 to 2134299
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   id        object
 1   item_id   object
 2   variable  object
 3   value     int64
dtypes: int64(1), object(3)
memory usage: 65.1+ MB

### Seasonal Exponential Smoothing for store CA_1

In [12]:
# Holt-Winterâ€™s for each CA_1 ID
ses_results_ca_1 = []
df = sales_70d[['id', 'value']]

for id in tqdm(id_list[:3049]):
    train = df[df.id == id].value.values
    model = ExponentialSmoothing(train, trend="add", 
                                 seasonal="add", 
                                 seasonal_periods=7)
    fit = model.fit(optimized=True)
    pred = fit.forecast(28).clip(0, np.inf).round().astype('int')
    ses_results_ca_1.append(pred)
    
save_submission(ses_results_ca_1, 'ses_ca_1_70d')

HBox(children=(FloatProgress(value=0.0, max=3049.0), HTML(value='')))

The submission scored 1.60218 on Kaggle, which is not great, but at least a first value to benchmark against.

### Seasonal Exponential Smoothing for per-day-means per item_id

In [17]:
# Prepare means per item_id
sales_70d['item_mean_1d'] = sales_70d['value'].groupby(
    [sales_70d['variable'], sales_70d['item_id']]).transform('mean')
item_ids = sales_70d.item_id.unique()
sales_70d.head()

                              id        item_id variable  value  item_mean_1d
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001   d_1844      0           0.2
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002   d_1844      0           0.0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003   d_1844      0           0.1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004   d_1844      0           0.9
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005   d_1844      2           0.8

In [26]:
# Holt-Winterâ€™s for the means per item_id
ses_results_item_means = []
ses_results_item_means_raw = []
df = sales_70d[['item_id', 'variable', 'item_mean_1d']].drop_duplicates()

for id in tqdm(item_ids):
    train = df[df.item_id == id]['item_mean_1d'].values
    model = ExponentialSmoothing(train, trend="add", 
                                 seasonal="add", 
                                 seasonal_periods=7)
    fit = model.fit(optimized=True)
    pred_raw = fit.forecast(28).clip(0, np.inf)
    ses_results_item_means_raw.append(pred_raw)
    pred = pred_raw.round().astype('int')
    ses_results_item_means.append(pred)
    
save_submission(ses_results_item_means, 'ses_item_means_70d')

HBox(children=(FloatProgress(value=0.0, max=3049.0), HTML(value='')))

This submission scored 1.05642 on Kaggle.

### Upsampling by adjusting by per-store mean sales

In [27]:
# preparing last 70 day means per id
sales_70d['mean_70d'] = sales_70d['value'].groupby(sales_70d['id']).transform('mean')
means_70d_per_id = sales_70d[['id', 'mean_70d']].drop_duplicates().reset_index(drop=True)
means_70d_per_id.head()

                              id  mean_70d
0  HOBBIES_1_001_CA_1_validation  1.014286
1  HOBBIES_1_002_CA_1_validation  0.200000
2  HOBBIES_1_003_CA_1_validation  0.485714
3  HOBBIES_1_004_CA_1_validation  1.857143
4  HOBBIES_1_005_CA_1_validation  1.185714

In [29]:
# preparing last 70 day means per item_id
sales_70d['item_mean_70d'] = sales_70d['value'].groupby(sales_70d['item_id']).transform('mean')
mean_item_sales_70d = sales_70d[['item_id', 'item_mean_70d']].drop_duplicates().reset_index(drop=True)
mean_item_sales_70d.head()

         item_id  item_mean_70d
0  HOBBIES_1_001       0.541429
1  HOBBIES_1_002       0.255714
2  HOBBIES_1_003       0.272857
3  HOBBIES_1_004       1.628571
4  HOBBIES_1_005       1.031429

In [30]:
# constructing and saving dictionary with adjusted predictions
ses_results_item_means_adjusted = {}

for n, id in tqdm(list(enumerate(id_list))):
    if mean_item_sales_70d.iloc[n % 3049, 1] > 0:
        adj = means_70d_per_id.loc[means_70d_per_id.id == id, 'mean_70d'].values[0] \
            / mean_item_sales_70d.iloc[n % 3049, 1]
    else:
        adj = 0.0
    pred = adj * ses_results_item_means_raw[n % 3049]
    ses_results_item_means_adjusted[id] = pred.clip(0, np.inf).round().astype('int')

save_submission(ses_results_item_means_adjusted, 'ses_item_means_adj_70d')

HBox(children=(FloatProgress(value=0.0, max=30490.0), HTML(value='')))

This submission scored 0.81436 on Kaggle, a nice improvement from 1.05 without any additional model training!

### Seasonal Exponential Smoothing per id

In [34]:
# Holt-Winterâ€™s for each individual ID
ses_results_per_id = {}
df = sales_70d[['id', 'value']].copy()

for id in tqdm(id_list):
    train = df[df.id == id].value.values
    model = ExponentialSmoothing(train, trend='add', 
                                 seasonal='add', 
                                 seasonal_periods=7)
    fit = model.fit(optimized=True)
    pred = fit.forecast(28).clip(0, np.inf).round().astype('int')
    ses_results_per_id[id] = pred
    
save_submission(ses_results_per_id, 'ses_per_id_70d')

with open('ses_results_per_id_70d.pkl', 'wb') as handle:
    pickle.dump(ses_results_per_id, handle)

HBox(children=(FloatProgress(value=0.0, max=30490.0), HTML(value='')))

This model scored 0.74177 on Kaggle, really not bad at all! This is less than half the score of the top-1 model, quite nice for the simplicity of the chosen appraoch in my opinion.

As a last attempt for improvement, I want to repeat the same approach but with using multiplicative trend and seasonal components where possible. This can only be done for time series that are strictly greater than zero:

In [35]:
# Holt-Winterâ€™s for each individual ID with multiplicative 
# trend and seasonal components where possible
import copy
ses_results_per_id_mul = copy.deepcopy(ses_results_per_id)

for id in tqdm(id_list):
    train = df[df.id == id].value.values
    if np.all(train > 0.0):
        model = ExponentialSmoothing(train, trend='mul', 
                                     seasonal='mul', 
                                     seasonal_periods=7)
        fit = model.fit(optimized=True)
        pred = fit.forecast(28).clip(0, np.inf).round().astype('int')
        ses_results_per_id_mul[id] = pred
    
save_submission(ses_results_per_id_mul, 'ses_per_id_70d_mul')

with open('ses_results_per_id_70d_mul.pkl', 'wb') as handle:
    pickle.dump(ses_results_per_id_mul, handle)

HBox(children=(FloatProgress(value=0.0, max=30490.0), HTML(value='')))

The submission scored 464535.75364 on Kaggle. Huh? Certainly something must have gone wrong:

In [38]:
for id in ses_results_per_id_mul:
    if ses_results_per_id_mul[id].min() < -1e3 or ses_results_per_id_mul[id].max() > 1e3:
        print(id, ses_results_per_id_mul[id])

FOODS_3_090_CA_4_validation [-2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648]
FOODS_3_586_TX_2_validation [-2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648]

Well, this doesn't look right - obviously some form of numeric issues and a good example why predictions should never be trusted blindly. For the scope of this notebook, I will just replace the predictions for both IDs with the ones from the previous run and re-submit.

In [39]:
ses_results_per_id_mul['FOODS_3_090_CA_4_validation'] = ses_results_per_id['FOODS_3_090_CA_4_validation']
ses_results_per_id_mul['FOODS_3_586_TX_2_validation'] = ses_results_per_id['FOODS_3_586_TX_2_validation']

save_submission(ses_results_per_id_mul, 'ses_per_id_70d_mul')
with open('ses_results_per_id_70d_mul.pkl', 'wb') as handle:
    pickle.dump(ses_results_per_id_mul, handle)

Now the submission scored 0.74974 on Kaggle, worse than the submission with additive components only. So the multiplicative components did not help at all. Well it was worth a try.

### Seasonal Exponential Smoothing per id (365 days)

Last but not least, I have also computed the 30490 models with additive components using 365 days of training data on a different machine in parallel:

In [36]:
with open('ses_results_per_id_365d.pkl', 'rb') as handle:
    ses_results_per_id = pickle.load(handle)

save_submission(ses_results_per_id, 'ses_per_id_365d')

This model scored 0.77611 on Kaggle, i.e. worse than the model trained with only 70 days. Quite astonishing, but not extremely surprising too. An explanation for this phenomenon could be that Holt Winter's model is too simple to really benefit from the additional information inside the older training data, in particular as my chosen seasonal component only has a 7-day period. Extracting additional information gain from older data would probably require a more complex model and/or more model tuning, which exceeds the scope of this notebook.